body {
  margin: 0px;
  background-color: #F3F3F3;
  color: black;
  font-family: Arial;
}

#main {
  margin: 24px auto 0px auto;
  width: 960px;
}

header {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: bold;
}

div.errorDialog {
  margin: 0px auto;
  width: 480px;
}

div.authenticationDialog {
  margin: 0px auto;
  width: 480px;
}

div.authenticationDialog > input {
  margin-top: 12px;
  padding-left: 6px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F3F3F3;
}

table.bankdetails {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid grey;
}

table.bankdetails tr {
  border-top: 1px solid grey;
  height: 32px;
}

table.bankdetails th {
  padding-left: 12px;
  text-align: left;
  font-weight: bold;
}

table.bankdetails td {
  padding-left: 12px;
}

div.accountEditForm {
  margin: 0px auto;
  width: 480px;
}

div.accountEditForm > label {
  display: block;
  margin-top: 12px;
  width: 120px;
  float: left;
}

div.accountEditForm > select {
  display: block;
  box-sizing: border-box;
  margin-top: 12px;
  border: 1px solid black;
  border-radius: 5px;
  width: 360px;
  float: left;
  background-color: #F3F3F3;
}

div.accountEditForm > input {
  display: block;
  box-sizing: border-box;
  margin-top: 12px;
  border: 1px solid black;
  border-radius: 5px;
  width: 360px;
  padding-left: 6px;
  float: left;
  background-color: #F3F3F3;
}

div.accountEditForm > input.sortCode {
  margin-right: 10px;
  width: 30px;
}

label.swift {
  clear: left;
}

div.accountEditForm > button {
  margin-left: 12px;
  float: right;
}

button {
  border: 1px solid black;
  background-color: #CFE2F3;
}

button.cancel {
  left: 0;
}

div.editFormErrorMessage {
  margin-top: 12px;
  width: 100%;
  float: left;
  color: red;
  font-weight: bold;
}